body {
    background-color: #031c30;
    color: white;

}

#page-container {
    position: relative;
    min-height: 74vh;
}

#content-wrap {
    padding-bottom: 4rem;
    /* altura do rodapé */
}

footer {
    margin-bottom: -1%;
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 4rem;
    /* altura do rodapé */
}

#navbar {
    background-color: #364461;
}



